/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db

# Node modules
/node_modules
/.sass-cache

# Sublime Text Stuff
*.sublime-project
*.sublime-workspace

# Local configuration
/app/config/local/*
/app/config/prod_server/*#

# Environment
ENVIRONMENT
