/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db

/public/uploads/*

# Node modules
/node_modules
/.sass-cache

# Browserify stuff
/frontend/.dest
/public/assets/js/
/public/assets/css/


# Sublime Text Stuff
*.sublime-project
*.sublime-workspace

# Local configuration
/app/config/local/*
/app/config/prod_server/*#

# Environment
ENVIRONMENT
